<form [formGroup]="SUPPLIER_FORM" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="4">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Code</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="Supplier Code" nzSize="large" formControlName="code" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Label</nz-form-label>
                <nz-form-control>
                    <input formControlName="label" type="text" nz-input nzSize="large" placeholder="Supplier Full Name" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="4">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Supplier Category</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="category" nzSize="large" nzValue="ORDINAIRE" nzPlaceHolder="Choose a Category">
                        <nz-option *ngFor="let supplier of SUPPLIER_TYPE" [nzValue]="supplier" [nzLabel]="supplier"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <nz-divider></nz-divider>
    <div id="create_supplier_modal_footer">
        <button nz-button nzType="default" (click)="triggerCloseEvent.emit(true)">Cancel</button>
        <button nz-button nzType="primary" [nzLoading]="DATA_IS_BEING_SENT" [disabled]="!SUPPLIER_FORM.touched || !SUPPLIER_FORM.valid" (click)="saveSupplier()">save</button>
    </div>
</form>
