<nz-table #filterTable [nzData]="data" nzTableLayout="fixed">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumns">
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filterTable.data">
            <td>
                <div>
                    {{ data.code | titlecase }}
                </div>
            </td>
            <td>{{ data.label }}</td>
            <td>{{ data.category }}</td>

            <td style="width: 100%">
                <div nz-row [nzGutter]="4">
                    <div nz-col nzSpan="10">
                        <button
                            *ngIf="true"
                            nz-popconfirm
                            nzPopconfirmTitle="Are you sure you want delete this supplier?"
                            nzPopconfirmPlacement="bottom"
                            (nzOnCancel)="cancel()"
                            (nzOnConfirm)="deleteSupplier(data.idSupplier)"
                            nz-button
                            style="background-color: transparent">
                            <span nz-icon style="color: red" nzType="delete"></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>
