<section id="login-flex">
    <nz-card>
        <div class="container">
            <div class="flex justify-center">
                <img
                    src="/assets/images/logo_gym.png"
                    class="w-44"
                    alt="Logo"
                />
            </div>
        </div>

        <div id="authenticationWarning">
            <p>It appears you are not authenticated.</p>
            <p>Only authorized personal can access this application</p>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </nz-card>
</section>
