<section id="service__data_display">
    <ng-container *ngIf="isFetchingData === true">
        <span nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
    </ng-container>

    <ng-container *ngIf="isFetchingData === false">
        <ng-container *ngIf="!!SUPPLIER_DATA">
            <main class="module_data_grid_layout">
                <ski-supplier-table (ActionEvent)="fetchData()" [data]="SUPPLIER_DATA"></ski-supplier-table>
            </main>
        </ng-container>
        <ng-container *ngIf="!!!SUPPLIER_DATA">
            <nz-empty></nz-empty>
        </ng-container>
    </ng-container>
</section>
